<html ng-app="geoApp">
<head>
	<link rel="stylesheet" href="css/all.css">
	<script data-main="js/main.js" src="js/lib/require.js"></script>
</head>
<body>
	<div id="header" ng-controller="HeaderController">
		 <a href="index.html">abc</a>
		<span>Options: {{name}}</span>
		<select class="categories" ng-model="category" ng-options="category.value for category in categories"></select>
		<select class="topics" ng-model="topic" ng-options="topic.value for topic in topics"></select>
		<button ng-click="query()">Query</button>
	</div>
	<div id="content">
	  	<div id="map"></div>
		<div id="right">
			<span class="id">this is id.</span><br>
			<span class="desc">this is description.</span>
		</div>
	</div>
	<div id="footer">
		<grid>this is grid.</grid>
	</div>
</body>

</html>